.PlpLayout {
    &__loading {
        min-height: 500px;
        backdrop-filter: blur(3px);
    }

    &__sort-modal-overlay {
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__products-container {
        min-height: 500px;
    }
}